rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // A templates mappa tartalmának olvasását engedélyezzük minden bejelentkezett felhasználó számára.
    match /templates/{allPaths=**} {
      allow read: if request.auth != null;
    }

    // A generált jegyzőkönyvek írását és olvasását engedélyezzük a bejelentkezett felhasználóknak.
    // A kliens oldali kód felelős a felhasználói szerepkör (admin/write) ellenőrzéséért a feltöltés előtt.
    match /generated-inspections/{allPaths=**} {
      allow read, write: if request.auth != null;
    }
  }
}
